html{
    scroll-behavior: smooth;
}

:root{

}

body{
    margin: 0;
    background: #0d120d;
    font-family: "Jersey 15";
    font-weight: 400;
    font-style: normal;
}


header{
    width: 100%;
    position: fixed;
    border-bottom: mintcream solid 2px;
    box-sizing: border-box;
    height: 65px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 24px;
    background:#0b1a0e;
    border-bottom: 1px solid #558B2F;
    z-index: 100;
}

header>nav{
    height: fit-content;
    align-self: center;
}

header > nav > a {
    text-decoration: none;
    margin: 0px 10px;
    color: mintcream;
}

.home{
    display: flex;
    justify-content: space-evenly;

}


#home-content{
    justify-content: flex-start;
    color: mintcream;
    min-height: calc(100vh - 80px);
    padding-top: 9%;
    padding-left: 10%;
    padding-right: 5%;

}




/* this is what removes the gap between the line made due to padding */
#sout , #greetings , #Name, #role{
    margin: 0;
}

#sout{
    font-size: 35px;
    color: #00FF41;
    margin-bottom: 10px;
}

#greetings{
    font-size: 80px;
    color: #00FF41;
    margin-top:-10px ;
}

#Name{
    font-size: 128px;
    color: #00FF41;
}

#role{
    font-size: 60px;
}

#hero_para{
    font-size: 20px;
    margin-top: 41px;
}




button {
    padding: 2% 4%;
    border-radius: 25px;
    font-family: inherit;


}

.hero-btn{
    display: flex;
    gap: 10px;
    margin-top: 20px;

}

#contact_btn{
    background:green ;
    border: #FFFFFF solid 3px;
    background: linear-gradient(180deg, #00E676 0%, #00D46D 17% ,#00B85F 45% , #00934B 81% , #008042 100% );
    box-shadow: 0px 0px  30px  #00E676;
    font-size: 40px;
    color: #FFFFFF;
}

#CV_btn{
    border: #01C064 solid 3px;
    background:#0D1117 ;
    font-size: 40px;
    color: #01C064;
}


.hero-img {
    width: 100%;
    box-sizing: border-box;
    max-width: 500px;
    padding-bottom: 167px;
}

#intrests{
    width: 100%;
    height:auto;
    align-self: center;
    box-sizing: border-box;
    background: #006622;
    border-bottom: 2px #00ff412e solid;
    border-top: 2px #00ff412e solid;
    background: #006622;
    position: relative;
    z-index: 1;
}


#scroll{
    position: relative;
    display: flex;
    justify-content: space-evenly;

    animation-name: scroll-x;
    animation-duration: 30000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 44px;
    color: #FFFFFF;

}



@keyframes scroll-x {
    0%   {
        left: 0;
    }

    100% {
        left: -50%;
    }
}





.about-me-content{
    display: flex;
    justify-content: space-evenly;
    height: auto;
}

.about-img {
    width: 100%;
    box-sizing: border-box;
    max-width: 500px;

    box-sizing: border-box;
}

.sub-title{
    margin-left: 14vw;
    font-size: 40px;
    color: #FFFFFF;

}

.about-me{
    height: 667px;

    /*border: #FFFFFF solid 2px;*/

}

#content{
    color: #FFFFFF;
}

#about-me-para{
    font-size:20px ;
}

#image-div{
    position: relative;
    left: 5vw;
    width: 300px;
    height: 300px;
    border: #01C064 solid 2px;
    /*border: #FFFFFF solid 2px;*/




}

.about-img{
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-position: center;

}


.strip{
    margin-bottom: 0;
    border-top: 0;
    width: 100%;
    height: 2rem;
    background: #00B85F;
    overflow: hidden;


}

.strip-track{
    position: relative;
    display: inline-flex;
    align-items: center;
    align-self: center;
    align-content: center;
    padding-top: 0.5rem;

    animation: scroll-skill 30s linear infinite;
    animation-iteration-count: infinite;
    animation-duration: 30000ms;
    animation-direction: normal;




}


.strip-dot{

    padding:  0 1rem;
    opacity: 50%;
    color: #FFFFFF;
    box-sizing: border-box;

}

.strip-skill{
    padding: 0 1.2rem;
    color: #FFFFFF;
    box-sizing: border-box;

}

@keyframes scroll-skill {
    0%   { transform: translateX(-50%); }
    100% { transform: translateX(0%); }
}


.skill-icon-strip{


    position: relative;

    /*border: #FFFFFF solid 2px;*/



}

.icon-layer{
    display: flex;
    justify-content: space-evenly;
    left: 0;
    right: 0;
    margin: auto;
    width: 800px;
    height: 90px;
    /*border: #FFFFFF solid 2px;*/
    background: #0d1c0d;
    border-radius: 15px;

}

.skill-icon{

    align-self: center;
    position: relative;
    animation-name: slide;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-fill-mode: backwards;

    box-shadow: 0px 6px 9px #00B85F  ;

}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}




